# ─── REPLACE THESE WITH YOUR ACTUAL VALUES FROM SUPABASE DASHBOARD ───
# Settings → API

NEXT_PUBLIC_SUPABASE_URL=https://coddvxhzdmvajeyubixx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvZGR2eGh6ZG12YWpleXViaXh4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0OTg3MzEsImV4cCI6MjA5MjA3NDczMX0.UM6bfucbJRh66HERypolepZrAS5Wre7C1oNSZqWdj54
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvZGR2eGh6ZG12YWpleXViaXh4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjQ5ODczMSwiZXhwIjoyMDkyMDc0NzMxfQ.uqquElIM2T6Yb8S9JryKj_xIxEUhgxZode-jcz45WeU

# App config
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_ALLOWED_DOMAINS=ssn.edu.in,snu.edu.in
